* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0;
}

/* Handling styles in a global style sheet is a 
bit out of date now this is all solid but 
I would recommend a few other options

1. Keeping it the most consistent with css which you seem comfortable with is css modules
  - This is a way to keep your styles scoped to the component you are working on
  - You would set this up by creating a css file with the same name as your component and then importing it into your component
2. CSS in JS
  - This is a way to write your styles in javascript and then apply them to your components
  - There are a few libraries that can help you with this like styled-components or emotion
3. Tailwind CSS
  - This is a utility first css framework that allows you to write your styles in a more functional way
4. Chakra UI
  - This is a component library that comes with a lot of prebuilt components and styles
*/
.start-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  height: 100vh;
}

.start-page-container > h1 {
  margin: 0;
  font-size: 2em;
}

.start-page-container > h2 {
  margin: 0.4em 0 1em;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.start-btn,
.submit-btn,
.restart-game {
  color: white;
  background-color: #4d5b9e;
  border: none;
  padding: 15px 45px;
  border-radius: 10px;
  font-family: "Karla", sans-serif;
}

.submit-btn,
.restart-game {
  margin: 1em auto;
}

.correct-answer {
  background-color: greenyellow;
  color: green;
}

.incorrect-answer {
  background-color: lightcoral;
  color: red;
}

.not-submitted,
.correct-answer,
.incorrect-answer,
.blank {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quiz-container {
  display: flex;
  justify-content: center;
}

.quiz-form {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  padding: 1em;
}

.indiv-question {
  margin: 0;
  padding: 1em 0 0.25em 0;
}

.answers-container {
  display: flex;
  flex-direction: column;
}

.indiv-answer {
  margin-right: 0.4em;
}
